{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- banner post start-->
    <section class="banner_post">
        <div class="container-fluid">
            <div class="row justify-content-between">
                
                <div class="banner_post_1 banner_post_bg_1" 
                    style="background-image: url({% static 'images/banner_blog/banner_bb_1.png' %});">
                    <div class="banner_post_iner text-center">
                        <a href="../gallerie/"><h5> Gallerie</h5></a> 
                        <a href="../gallerie/"><h2>Tout notre savoir faire 
                            en quelques photos </h2></a> 
                        <p>bibiche coiffure</p>
                    </div>
                </div>
                
                <div class="banner_post_1 banner_post_bg_2" 
                    style="background-image: url({% static 'images/banner_blog/banner_bb_2.png' %});">
                    <div class="banner_post_iner text-center">
                        <a href="../shop/"><h5> Notre Magasin</h5></a> 
                        <a href="../shop/"><h2>Visitez notre magasin
                            en ligne et faites vos achats </h2></a> 
                        <p>bibiche coiffure</p>
                    </div>
                </div>

                <div class="banner_post_1 banner_post_bg_3" 
                        style="background-image: url({% static 'images/banner_blog/banner_bb_3.png' %});">
                                    <div class="banner_post_iner text-center">
                        <a href="../contact/"><h5> Nous contacter</h5></a> 
                        <a href="../contact/"><h2>Laissez nous votre
                            message ou venez nous voir </h2></a> 
                        <p>bibiche coiffure</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner post end-->

    <!-- subscribe form start-->
    <div class="subscribe_form padding_top margin_top">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="subscribe_form_iner">
                        <form method="POST">
                            <div class="form-row align-items-center justify-content-center">
                                <div class="col-md-12 col-lg-3">
                                <h3>Inscrivez vous à notre Newsletter</h3>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    {{ form.nom.errors }}
                                    {{ form.nom }}
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    {{ form.email.errors }}
                                    {{ form.email }}
                                    {% csrf_token %}
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <button class="btn_1" type="submit">Envois</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- subscribe form end-->

{% endblock %}